Flask==2.3.3
requests==2.31.0
gunicorn==21.2.0
Werkzeug==2.3.7
accelerate==1.6.0
gradio==5.23.0
sentencepiece==0.2.0
pillow==11.1.0
av==12.1.0
numpy==1.26.2
scipy==1.12.0
torchsde==0.2.6
einops
opencv-contrib-python
safetensors
diffusers==0.30.0
transformers==4.46.2
torch>=2.1.0
torchvision
torchaudio
psutil